$sm: 920px;

.full-width {
  width: 100%;
}

.problem-report-card {
  min-width: 120px;
  margin: 5rem auto 1rem;
}

.mat-mdc-card-title {
  margin: 0 0 1rem;
}

.row {
  @media screen and (min-width: $sm) {
    display: flex;
    flex-direction: row;
  }
}

.col {
  @media screen and (min-width: $sm) {
    flex: 1;
    margin-right: 20px;
  }
}

.col:last-child {
  margin-right: 0;
}

.mdc-card__actions {
  padding: .5rem 1rem 1rem;
  justify-content: end;
}
